@import url('http://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    height: 100%;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-bottom: 16px;
    justify-content: space-between;
}

.blue {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    gap: 16px;
    padding: 16px;
    width: 100%;
}

.footer {
    background-color: #1f2937;
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

.info, .filler, .end{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header a {
    color: #e5e7eb;
}
/*Section Change - Hero*/
.hero {
    justify-content: space-between;
    gap: 32px;
}

.heroleft {
   display: flex;
   flex-direction: column;
   gap: 16px;
   align-items: flex-start;
}

.heroleft h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    color: #f9faf8;
}

.heroleft p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.heroright {
    max-height: 160px;
}

.heroright img {
    border: none;
    background-color: #6d747d;
}
/*Section Change - Info*/
.info {
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.infoheader {
    font-size: 32px;
    font-weight: 800;
    color: #1f2937;
}

.image-line {
    display: flex;
    gap: 32px;
}

.smallimages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 126px;
    gap: 4px;
}

.smallimages img {
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.smallimages p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    color: #1f2937;
}
/*Section Change - Filler*/
.gray {
    background-color: #e5e7eb;
}

.filler {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author {
    color: #1f2937;
    font-weight: bold;
    align-self: end;
    font-size: 18px;
}
/*Section Change - End*/
.action {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 32px 64px;
    align-items: center;
    border-radius: 8px;
    width: 800px;
}

.action h3 {
    color: #f9faf8;
    margin: 0;
}

.action p {
    color: #e5e7eb;
    margin: 0;
}

.final-chance {
    background: none;
    border: 2px solid white;
    
}
/*Section Change - Footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    width: 800px;
    margin: 0 auto;
    padding: 16px;
    width: 100%;
}

button {
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: bold;
}

.hero button {
    background-color: #3882f6;
    border: none;
}